
<style>
    @keyframes fadeInScale{
        from {opacity: 0; transform: scale(4)}
        to {opacity: 1; transform: scale(1)}
    }
    .fade-in-scale{
        animation: fadeInScale 0.6s ease;
    }


   .online-dot {
    width:10px;
    height: 10px;
    background-color: greenyellow;
    border-radius: 50%;
    display: inline-block;
   }


   .offline-dot {
    width:10px;
    height: 10px;
    background-color: grey;
    border-radius: 50%;
    display: inline-block;
   }

</style>


<span id="online-count" hx-swap-oob="outerHTML" class ="fade-in-scale pr-1"> Online: {{ online_count }}
{%if online_count %}
<span class="online-dot"></span>
{%else%}
<span class="offline-dot"></span>
{%endif%}
</span>