<div class="art-card" id="art-card-{{ post.id }}">
    <div class="image-wrapper">
        <img src="{{ post.image_url }}">
    </div>

    <div class="art-card-footer">
        <div class="like-section"> 
            <form action="/like" method="POST">
                {% csrf_token %}
                <input type="hidden" name="post-id" value="{{ post.id }}">
                {% if post.is_liked_by_user %}
                    <button type="submit" class="btn-icon liked" title="Unlike">
                        <i class="fas fa-heart"></i>
                    </button>
                {% else %}
                    <button type="submit" class="btn-icon" title="Like">
                        <i class="far fa-heart"></i>
                    </button>
                {% endif %}
            </form>
            <span class="like-count">{{ post.like_set.count }} {{ post.like_set.count|pluralize:"Like,Likes" }}</span>
        </div>

        <button class="btn-icon comment-button" onclick="toggleComments({{ post.id }})">
            <i class="fas fa-comment"></i>
        </button>
        <span class="comment-count">{{ post.comment_set.count|pluralize:"Comment,Comments" }}</span>

        {% if user == post.author or perms.main.delete_post %}
            <form method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-delete" name="post-id" value="{{ post.id }}">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </form>
        {% endif %}

        {% if user.is_staff %}
            <form action="/ban" method="post" onsubmit="return confirm('Are you sure you want to ban this user?');" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="user-id" value="{{ post.author_id }}">
                <button type="submit" class="btn btn-ban">
                    <i class="fas fa-ban"></i>
                </button>
            </form>
        {% endif %}
    </div>

    <div class="art-card-body">
        <h3 class="artist-info">
            <a href="/profile/{{ post.author.username}}" class="black-link">{{ post.author.username }}:</a>
            <span class="art-description">{{ post.description }}</span>
        </h3>
    </div>

    {% include 'main/home_parts/comment_section.html' %}
</div>


