
<div class="message d-flex mb-3 
            {% if message.author == request.user %} justify-content-end user-message {% else %} justify-content-start other-message {% endif %}">
    {% if message.author != request.user %}
        <!-- Avatar for other users' messages -->
        <div class="avatar me-2">
            {% for profile in message.author.profile_set.all %}
            <img src="{{ profile.profile_image_url }}" class="rounded-circle" alt="Avatar">
            {% endfor %}
        </div>
    {% endif %}
    
    <div class="message-content p-3 rounded shadow-sm">
        <strong class="d-block">{{ message.author }}</strong>
        <p class="mb-0">{{ message.body }}</p>
        <small class="text-muted d-block text-end mt-1">{{ message.timestamp|date:"H:i" }}</small>
    </div>

    {% if message.author == request.user %}
        <!-- Avatar for the current user's messages -->
        <div class="avatar ms-2">
            {% for profile in message.author.profile_set.all %}
            <img src="{{ profile.profile_image_url }}" class="rounded-circle" alt="Avatar">
            {% endfor %}
        </div>
    {% endif %}
</div>