{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container mt-4">
    <h2 class="text-center text-primary fw-bold">Chat Room</h2>
    
    <!-- Chat box with a background -->
    <div id="chat-box" class="chat-box border rounded p-3 mb-3 position-relative" 
         style="background-image: url('/static/img/whatsapp-bg.png'), linear-gradient(to bottom right, #f0f8ff, #e6f7ff); background-size: cover; height: 400px; overflow-y: auto;">
        
        <!-- Loop through each message in group_messages -->
        {% for message in messages %}
        {%include 'chat_requirements/chat_message.html'%}
        {%endfor%}
        
    </div>

    <!-- Form to send a new message -->
    <form id="message-form" class="mt-3" 
      hx-ext="ws" 
      ws-connect="/ws/chatroom/PublicChat" 
      ws-send="on htmx:wsAfterSend reset() me">
        {% csrf_token %}
        <div class="input-group">
            <input type="text" name="body" id="message-id" class="form-control message-form" placeholder="Type your message..." required>
            <button type="submit" class="btn btn-primary">Send</button>
        </div>
    </form>
</div>

<script>
    function scrollToBottom() {
        const container = document.getElementById("chat-box");  
        if (container) {
            container.scrollTop = container.scrollHeight;
        }
    }

scrollToBottom();
document.body.addEventListener("htmx:afterswap", function(event){
    if (event.detail.target.id==="chat-box"){
        scrollToBottom();
    }

});
</script>

<style>
    /* Chat box with gradient overlay background */
    .chat-box {
        background-size: cover;
        border: 1px solid rgba(173, 114, 55, 0.75);
        border-radius: 15px;
        padding: 15px;
        position: relative;
        color: #333;
    }

    .message-content {
        font-size: 15px;
        line-height: 1.6;
        max-width: 75%;
    }

    .message {
        display: flex;
        align-items: center;
    }

    .avatar img {
        width: 40px;
        height: 40px;
    }

    .message-content strong {
        font-weight: 600;
        color: #5d5d5d;
    }

    .user-message .message-content {
        background-color: #dcf8c6;
        border-radius: 10px 0px 10px 10px;
        text-align: right;
        border: 1px solid #b2d8a5;
    }

    .other-message .message-content {
        background-color: #ffffff;
        border-radius: 0px 10px 10px 10px;
        text-align: left;
        border: 1px solid #ddd;
    }

    .message-form {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        height: 45px;
    }
    /* Add shadow effect to the messages */
    .message-content {
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    }

    /* Time styling */
    .message-content small {
        font-size: 12px;
        color: #999;
    }
</style>

{% endblock %}
